.projects {
    min-height: 100vh;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

.container {
    /*border: 1px solid;*/
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    height: max-content;
    position: relative;
}

.image {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 380px;
    background-position: center;
}

.image a {
    color: white;
    text-decoration: none;
    -webkit-transition: .3s;
}

.image a:hover {
    color: black;
}

.image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: white;
    opacity: 0.2;
}

.showButton {
    width: 100px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.projectTitle {
    font-family: "Montserrat", sans-serif;
    margin: 20px 10px 5px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1px;
}

.description {
    margin: 20px 10px 10px;
}

@media screen and (max-width: 1250px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .project {
        width: 100%;
        height: 250px;
        background: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .image:before {
        height: 200px;
        background-size: 200px;
    }
    .projectTitle {
        margin: 10px 10px 0;
    }
    .description {
        margin: 10px 10px 0;
    }
}

@media (-webkit-min-device-pixel-ratio:0) {
    .image a {
        background-color: white;
        background-image: -webkit-linear-gradient(left, white 0%, black 80%, transparent 80%);
        background-position: 150% 0;
        background-size: 200% 200%;
        color: transparent;
        -webkit-transition: .6s .8s;
        -webkit-background-clip: text;
        font-weight: 700;
    }
    .image a:hover {
        background-position: 0 0;
        color: transparent;
        transition: .4s 0s;
    }
}